
<%- include('partials/header') %>



<form action="/register" method="POST">
  <div class = "bg-container">
<div class="wrapper">
    <h1>Welcome to BitsatGPT!!</h1>
    <p>Transform Exam Preparation with AI-Powered Assistance</p>
    <form>
      <input type="text" placeholder="Email" name="username">
      <input type="password" placeholder="Password" name="password">
      <p class="recover">
      </p>
    </form>
    <button>Register</button>

    <p class="or">
      ----- or continue with -----
    </p>
    
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>
    <p>&copy; 2024 BitsatGPT. All rights reserved.</p>

  </div>
  <%- include('partials/footer') %>